

<%= render 'pages/home' unless user_signed_in?  %>

<div id="pins" class="transitions-enabled">

       <% @pins.each do |pin| %>
          <div class="container">
          <div class="box panel panel-default">
          
             <% if pin.image.present?  %>
                  <%= link_to pin do %>
                  <%= cl_image_tag(pin.image.path) %>
            <% end %>
           <% else %>         
                  <%= cl_image_tag('no-image-found_jqqruy') %>                 
             <% end %>    

          
            <div class="pin-panel-body">
      
            <%= pin.description %> <br>
            <strong><%= pin.user.name if pin.user %></strong>
       
            <% if pin.user == current_user && user_signed_in? %>
                <div class="actions">
                  <%= link_to edit_pin_path(pin) do %>
                    <span class="glyphicon glyphicon-edit black"></span>
                      Edit
                         <% end %>

                  <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                     <span class="glyphicon glyphicon-trash black"></span>
                      Delete
                        

                            </div>    

                         <% end %>     
                       <% end %>
                      </div> 
                    </div>  
                  </div>      

                  
               <% end %>

              <div class="text-center">

            
                   <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
             
                 </div>  
                  