<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div id="bg3">
  <img src="https://ununsplash.imgix.net/uploads/1412238370909393b4a19/79f023f1?q=75&fm=jpg&s=0d39e32b84bfacd752f109035a811830" alt="">
  </div>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off",  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password", class: "btn btn-primary" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class: "btn btn-primary" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
