<div class="panel panel-default">
  <div class="panel-heading">
<h1>Forgot your password?</h1>
 </div>

<div id="bg3">
  <img src="https://ununsplash.imgix.net/uploads/1412238370909393b4a19/79f023f1?q=75&fm=jpg&s=0d39e32b84bfacd752f109035a811830" alt="">
  </div>

  <div class="panel-body">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

	<div class="form-group">
    <%= f.label :email%> <br/>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
  </div>
<% end %>
</div>

 <div class="panel-footer">
<%= render "devise/shared/links" %>
  </div>

  

  </div>